<section class="mechanical-workshop" id="mechanical-workshop">
    <div class="title">
        <h1>Áreas operativas</h1>
    </div>
    <div class="dinamicText">
        <h2>{{ stageWorkshop }}</h2>
        <p>{{ descriptionWorkshop }}</p>
    </div>
    <div class="cont-workshops-area">
        <div class="card-area">
            <div class="sub-title">
                <mat-icon>brush</mat-icon>
                <h2>Taller de carrocería y pintura</h2>
            </div>
            <p>Al seleccionar esta opción sera redirigido a todas las cotizaciones generadas relacionadas con esta especialidad.</p>
        </div>
        <div class="card-area">
            <div class="sub-title">
                <mat-icon>build</mat-icon>
                <h2>Taller de mecanica general</h2>
            </div>
            <p>Al seleccionar esta opción sera redirigido a todas las cotizaciones generadas relacionadas con esta especialidad.</p>
        </div>
    </div>
    <div class="new-flow">
        <p>
            Con el objetivo de optimizar la gestión de solicitudes y garantizar una mayor precisión en la elaboración de cotizaciones, se ha implementado un nuevo flujo en el proceso de cotización. Este nuevo enfoque reconoce que los talleres pueden estar compuestos por múltiples áreas de trabajo especializadas (por ejemplo, mecánica, pintura, electricidad, entre otras), cada una con requerimientos y recursos técnicos propios.
        </p>
        <p>
            Dado que cada área puede depender de repuestos y productos distintos, es fundamental que el sistema permita identificar y categorizar correctamente los elementos involucrados en cada solicitud de servicio.
        </p>
        <p>
            <strong>Nota: </strong>
            La idea es que, al hacer clic en los recuadros de la parte superior, se pueda acceder únicamente a las cotizaciones correspondientes a cada departamento de la empresa cliente.
        </p>
    </div>
</section>
