<nav class="main-navbar" role="navigation" aria-label="Barra de navegación">
  <div class="navbar-container">
    <a href="/" class="navbar-logo" aria-label="Ir a la página principal">
      <div class="logo" role="img" aria-label="Logo de la empresa"></div>
    </a>
    <h2>Gestor de cotizaciones</h2>
    <button
      mat-icon-button
      class="menu-toggle"
      aria-controls="main-navigation"
      aria-expanded="false"
      aria-label="Abrir menú de navegación"
      (click)="toggleMenu()"
    >
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</nav>