
/* General Colors */

$blue-control-car-bg : #011a34;
$white-control-car: #ffffff; 
$blue-ligth-car: #6595c9;
$gray-ligth-car: gray;
$shadow: #dfdbdb;

$primary-palette: (
  0: #000000,
  10: #3a3838,
  20: #3a3838,
  30: #3a3838,
  40: #011a34,
  50: #3a3838,
  60: #818181,
  70: #011a34,
  80: #abc7ff,
  90: #011a34,
  95: #011a34,
  98: #011a34,
  99: #011a34,
  100: #F5F5F5,
);



